* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #444;
  font-family: Arial, sans-serif;
}


nav{
position: absolute;
top: 8rem;
left: 50%;
transform: translateX(-50%);
}


nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  background-image: linear-gradient(to top, rgb(122,122,122) 2% ,rgb(106,106,106) 45%, rgb(132, 127, 127) 56%, rgb(130, 130, 130) 98%);
  padding: .5rem 3.6rem;
  border-right: 1px solid #555;
  border-top:  1px solid #555;
  border-bottom: 1px solid #555;
}

nav ul li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #555;
  background-image: url(/images/nav.svg), linear-gradient(to top, rgb(122,122,122) 2% ,rgb(106,106,106) 45%, rgb(132, 127, 127) 56%);
  background-position-x: center;
  padding: .5rem 4.8rem;
  background-repeat: no-repeat;

}


nav ul li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-image: linear-gradient(to top,  rgb(106,106,106) 0% 45%, rgb(132, 127, 127) 56%);
  background-position: 20% ,center;
  background-repeat: no-repeat;
  padding: .4rem 1.6rem;
  position: relative;
}

nav ul li:last-child input {
 height: 2rem;
 width: 11rem;
 border-radius: 500px;
 border: 2px inset #888;
 border-bottom: 1px  inset #999;
 border-left: 1px  inset #999;
 border-right: 1px  inset #999;
 padding: .3rem 1rem;
 padding-left: 2.5rem;
 color: white;
 background-image: linear-gradient(to top,  rgb(106,106,106) 0% 45%, rgb(132, 127, 127) 56%);
 transition: all .4s;
}

nav ul li:last-child span {
  background-image: url(/images/magnify.svg);
  width: 2rem;
  display: inline-block;
  height: 2rem;
  background-color: transparent;
  position: absolute; 
  top: 34%;
  left: 15.5%;
  transition: left .4s;
 }


nav ul li:last-child input:focus {
  border: 2px inset #999;
  border-bottom: 1px  inset #aaa;
  border-left: 1px  inset #aaa;
  border-right: 1px  inset #aaa;
  background-image: none;
  outline: none;
  width: 17rem;
  color: #555;
  background-color: white;
 }

 nav ul li:last-child input:focus + span {
  background-image: url(/images/magnify-dark.svg);
  left: 11%;
 }

nav ul li:not(:last-child):hover{
  background-image: linear-gradient(to top, rgb(122,122,122) 1% ,rgb(62,62,62)
  48%, rgb(77,77,77)52%);
  cursor: pointer;
}

nav ul li:first-child:hover{
  background-image: url(/images/nav.svg), linear-gradient(to top, rgb(122,122,122) 1% ,rgb(62,62,62)
  48%, rgb(77,77,77)52%);
}

nav ul li a:hover{
  text-decoration: none;
}

nav ul li:last-child a img{ 
  width: 50px;
}

nav ul a {
  color: #eee;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #444, -1px -1px 1px #444
}

header {
  height: 53.8rem;
  background: url(/images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center -35rem;
  background-size: cover; 
  padding-top: 17rem;
}

header:hover{
  cursor: pointer;
}

header h1{
  background: url(/images/h1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
  background-size: auto 10rem;
  margin-bottom: 1rem;
}

header h2{
  background: url(/images/h2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
  margin-bottom: 1.2rem;
}

header h3{
  background: url(/images/cta-simple.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
}

header h3:hover{
  background: url(/images/cta-hover.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
  cursor: pointer;
}

aside {
  display: flex;
  height: 20.6rem;
  border-top: 2px solid white;
}
aside div:hover {
  cursor: pointer;
}

.product{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  flex: 1;
}

.product-gallery .product:not(:last-child){
  border-right: 2px solid white;
}

.p-1{
  background-image: url(/images/product-1.jpg);
}


.p-2{
  background-image: url(/images/product-2.jpg);
}

.p-3{
  background-image: url(/images/product-3.jpg);
}

.p-4{
  background-image: url(/images/product-4.jpg);
}

footer {
  display: flex;
  padding: 2.5rem 10rem;
}

footer > div {
  flex: 1;
}


.links-column-1{
  max-width: 60.5rem;
}

.links-column-2{

}


footer {
  color: #908e8e;
  font-size: 1.1rem;
}

footer ul{
  list-style: none;
  display: flex;
}

footer a {
  color: rgb(72,169,218);
  text-decoration: none;
}

.links-column-2 ul li a {
  padding: 0 .6rem;
}

.links-column-2 ul li:not(:last-child) a{
  border-right: 1px solid  rgb(204,204,204);

}


.links-column-1 div:first-child{
  padding-bottom: 1rem;
}

.links-column-1 {
  padding-left: 10rem;
} 

a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1350px) {
  footer, .links-column-2 ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .links-column-1{
    padding-left: 0;
    max-width: 100%;
  }

  .links-column-2 {
    margin-top: 2rem;
  }

  .links-column-2 ul li a {
    border: none !important;
  }

  .links-column-2 ul li{
    padding: .3rem 0;
  }


}


@media screen and (max-width: 800px){
  nav {
    position: static;
    width: 100%;
    text-align: center;
    transform: translateX(0);
  }
  nav ul {
    flex-direction: column;
  }

  nav ul li{
    background-image: none;
    background-color: #908e8e;
    border: none;
    border-bottom: 1px solid #777;
    padding: 1rem 0;
  }

  nav ul li:hover{
    background-image: none !important;
    background-color: #777 !important;
  }

  nav ul li:first-child{
    display: none;
  }
  html {
    font-size: 9px;
  }
  h1 {
    background: url(/images/h1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 7rem;
  background-size: auto 5rem;
  margin-bottom: 1rem;
  }

  header {
    height: auto;
    background-position: center;
  }

  h1, h2, h3{
    display: none;
  }

}